.navList {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.activLink {
  color: red;
}
